/* General Guidelines:
   - Use the provided purple color (#6f5eff) where applicable.
   - The default font family for HW1 should be Arial, sans-serif.
*/

/* Typography: */
/* 
"House Design" title 
    font-size: 1.5rem;
    font-weight: bold;
"House Styling" title 
    font-size: 20px;
Footer section headings: 'Store Info', 'About', 'Account', 'Policy'
    font-size: 14px;
Footer content 
    font-size: 14px;
For all other text, if not specified above, any approximate font size is acceptable. 
*/

/* TO-DO */

* {
  font-family: 'Helvetica Neue', Arial, sans-serif !important;
}

body {
	/* note to self: body applies margin automatically */
	margin: 0px;
}

/* -- Top Bar -- */

#navbar {
	z-index: 99999;
	width: 100%;
	height: 140px;
	background-color: #F4F4F4;
	position: fixed;
	border-bottom-style: solid;
	border-width: 2px;
	border-color: #DCDCDC;
}

#navbar .tophalf h1 {
	font-size: 1.5rem;
	font-weight: bold;
	text-align: center;
}

#navbar .bottomhalf {
	display: flex;
	padding-bottom: 20px;
	justify-content: center;
	font-size: 16px;
	text-align: center;
}

#navbar .bottomhalf .container {
	color: grey; 
	/* cool trick I picked up from https://www.youtube.com/watch?v=2IV08sP9m3U */
	padding: min(10px, 20%) min(90px, 8%);
}

/* -- Background -- */
#background {
	z-index: 0;
	display: block;
	margin: 0 auto;
	width: 90%;
	height:  85%;
	position: sticky;
	top: 1rem;
}

#background img {
	z-index: inherit;
	display: block;
	width: 100%; 
	height: auto;
}

#housestyles{
	width: 90%;
	padding: 1.5rem min(10rem, 8%);
	position: relative;
	z-index: 100;
	background-color: white;
	color:#6f5eff;
}


/* -- Forground -- */

.forground {
	background-color: white;
	z-index: 90;
	position: relative;
	display: flex;
	justify-content: center;
	width: 100%;
	flex-wrap: wrap;
	gap: 2rem;
}

.forground .window {
	padding: 2rem;
	text-align: center;
	background-color: white;
	border-color: lightgrey;
	border-width: 2px;
	border-style: solid;
	border-radius: 0.3rem;
	width: min(40rem, 35%);
	/* height: min(50rem, 45%); */
}

.forground .window img{
	height: auto;
	max-width: 90%;
}


.forground .window button{
	justify-content: center;
	background-color: #6f5eff;
	color: white;
	border-color: #6f5eff;
	border-radius: 0.2rem;
	padding: min(2rem, 2%);
}

.forground .window button:hover{
	background-color: rgb(34, 34, 34);
	border-color: rgb(34, 34, 34);
}

/* -- Footer -- */

#footer {
	position: relative;
	z-index: 80;
	background-color: white;
}
